repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 25.9.0
  hooks:
  - id: black
- repo: local
  hooks:
    - id: hadolint
      name: hadolint (via uv + hadolint-py)
      entry: uv run --with git+https://github.com/AleksaC/hadolint-py.git@v2.14.0 hadolint
      language: python
      types: [dockerfile]
      pass_filenames: true
